# Delphi project files to ignore
*.dcu
*.~*
*.dsk
*.local
*.identcache
*.tvsconfig
*.dproj.local
*.dproj.*.local
*.exe
*.dll
*.bpl
*.map
*.tds
*.drc
*.stat
*.dcp
*.bpi
*.obj
*.hpp
*.il*
*.lib
*.tmp
*.bak
*.log
*.dmp
*.dsm
*.dof
*.cfg
*.pch
*.aps
*.ncb
*.sbr
*.tlh
*.tli
*.ipch
*.opensdf
*.sdf
*.cache
*.groupproj.local
*.tvsconfig
*.vscode/
__history/
__recovery/
Win32/
Win64/
Debug/
Release/
lib/
*.o
*.ppu
*.compiled
*.rst
*.or
*.rsj
*.s
*.a
*.so
*.dcu
*.dcp
*.lps
*.lpi.bak
*.lps.bak
*.bak
*.log

lib/x86_64-win64
